.orderListItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderListItem p {
  font-size: 2rem;
}

.orderListItem > .right {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.orderListItem > .right > .removeButton {
  cursor: pointer;
  color: red;
  font-size: 2rem;
  transition: transform 0.3s;
}

.orderListItem > .right > .removeButton:hover {
  transform: scale(1.5);
}
