.orderList {
  margin-top: 50px;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: flex-end;
  background-color: #fedd00;
  opacity: 0.8;
  font-family: "Nanum Pen Script", sans-serif;
}

.orderList ul {
  display: flex;
  flex-direction: column;
  grid-row-gap: 0;
}
