.total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.total > .totals > p {
  font-size: 2rem;
}

.total > .right {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.total p {
  font-size: 2rem;
}
